
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #E1F5FE, #FFF9C4);
    color: #333;
}


header {
    background: #81C784; 
    color: white;
    padding: 20px 0;
    text-align: center;
}

#login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #F0F4C3; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #388E3C; 
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #81C784;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #66BB6A; 
}


footer {
    text-align: center;
    padding: 15px 0;
    background: #81C784;
    color: rgb(0, 0, 0);
    position: relative;
    bottom: 0;
    width: 100%;
}
